@use 'colors' as *;
@use 'mediaQueries' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	scroll-behavior: smooth;
	font-size: 62.5%;
	font-family: 'Handlee';
	overflow: hidden;
}

.slider {
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: $bg-color;
	overflow: hidden;

	&__box {
		display: flex;
		width: 400%;
		height: 100%;
		padding: 4em 0;
		transition: transform 1s;
	}

	&__btn {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		height: 100vh;
		width: 1.2em;
		background: none;
		border: none;
		cursor: pointer;
		background-color: rgba(0, 0, 0, 0.6);
		color: #999;
		font-size: 2.5rem;
		transition: background-color 0.3s;

		&:hover {
			background-color: rgba(0, 0, 0, 0.3);
		}
	}

	&__btn-left {
		left: 0;
	}

	&__btn-right {
		right: 0;
	}
}

.deco-gear{
	position: absolute;
	top: 80%;
	right: -10%;
	text-shadow: 0 0 5px black;
	color: rgb(116, 116, 116);
	transform-origin: center;
	font-size: 6rem;
}

.section {
	width: 100%;
	height: 100%;
	margin: 0 5em;
	border-radius: 32px;
	box-shadow: 5px 5px 10px 5px;
	background-color: $section-color;
	overflow: auto;
}

.title {
	text-transform: uppercase;
	text-align: center;
	font-size: 2.5rem;
	margin: 1em 0;
}

.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	overflow: hidden;

	&__title {
		text-align: center;
		margin: 0 1em;
		margin-top: 5em;
		text-transform: uppercase;
		box-shadow: inset 0 0 5px;
		font-size: 2rem;
		background-color: rgba(0, 0, 0, 0.3);
		padding: 1em;
		border-radius: 25%;
	}

	&__decorative {
		position: relative;
		left: 10px;
		display: inline-block;
		transform-origin: left;
		transform: rotateZ(20deg);
	}

	&::before {
		position: absolute;
		top: 10px;
		right: -80px;
		transform: rotateZ(45deg);
		background-color: rgb(131, 24, 24);
		box-shadow: 0 0 5px 5px;
		width: 350px;
		height: 60px;
		content: '';
	}
}

.aboutme {
	&__portrait {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		width: 85%;
		border-radius: 25%;
		box-shadow: 0 0 10px;
	}

	&__text {
		margin: 4em 4em;
		padding: 0.5em 0;
		border-radius: 32px;
		box-shadow: 0 0 20px 5px;
		background-color: rgba(0, 0, 0, 0.4);
		text-align: center;
	}

	&__describe {
		margin: 2em;
		font-size: 1rem;
	}
}

.mywork {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	&__decorative {
		position: relative;
		top: 30px;

		display: inline-block;
		transform-origin: right;
		transform: rotate(13deg);
	}

	&__accordion {
		width: 80%;
		border-radius: 8px;
		background: none;
	}

	&__accordion-box {
		// margin: 2em;
		transition: height 1s;
		// background: none;
	}

	&__btn {
		width: 100%;
		padding: 1em;
		margin: 0.2em 0;
		border-radius: 8px;
		box-shadow: inset 0 0 5px;
		border: none;
		background: none;
		background-color: rgba(0, 0, 0, 0.1);
		font-size: 1rem;
		font-family: 'Handlee';
		transition: background-color 0.3s, color 0.3s;
		cursor: pointer;

		&:hover {
			background-color: rgba(0, 0, 0, 0.6);
			color: rgb(212, 212, 212);
		}
	}

	&__img {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
	}

	&__deco-line {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		margin-top: 1.5em;
		border-radius: 8px;
		background-color: black;
		width: 80%;
		height: 2px;
	}

	&__info {
		height: 0;
		box-shadow: inset 0 0 5px;
		text-align: center;
		border-radius: 8px;
		background-color: rgba(0, 0, 0, 0.3);
		transition: height 1s;
		overflow: hidden;
	}

	&__info-text {
		padding: 1em;
		font-size: 1rem;
	}

	&__link {
		text-decoration: none;
		color: black;
		padding: 5px;
		border-radius: 8px;
		transition: color 0.3s, background-color 0.3s;

		&:hover {
			background-color: black;
			color: white;
		}
	}

	&__gear{
		position: relative;
		top: 27%;
		right: -42%;
	}
}

.active {
	height: 360px;
}

.contact {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: center;
	&__form{
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 85%;
		// align-items: stretch;
		row-gap: 10px;
		
		
	}

	&__box-inputs{
		display: flex;
		column-gap: 10px;
		width: 100%;

	}

	&__input-box{
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	
	&__input{
		width: 100%;
		padding: 0.8em;
		border: none;
		background: none;
		background-color: rgba(0, 0, 0, 0.4);
		color: rgb(212, 212, 212);
		border-radius: 8px;
		box-shadow: 0 0 5px black;

		&::placeholder{
			color: rgba(212, 212, 212, 0.3);
		}
	}

	&__textarea{
		min-width: 100%;
		max-width: 100%;
		min-height: 100px;
		max-height: 300px;
	}

	&__label{
		margin-bottom: .5em;
		font-size: 1rem;
	}

	&__btn{
		position: relative;
		right: -38%;
		margin-top: 1em;
		color: rgb(212, 212, 212);
		padding: 0.5em 1em;
		background: none;
		border: none;
		border-radius: 8px;
		background-color: rgba(0, 0, 0, 0.6);
		transition: background-color .3s;
		cursor: pointer;

		&:hover{
			background-color: rgba(0, 0, 0, 0.8);
		}
	}

	
}

// media queries

@media (min-width: 992px) {
	@include large;
}

@media (min-width: 768px){
	@include medium;
}
